params {
    samples = "${projectDir}/tests/samples_identity_gate.yaml"
    input = null
    references = "${projectDir}/../conf/references.yaml"
    thresholds = "${projectDir}/../conf/thresholds.yaml"
    infrastructure = "${projectDir}/../conf/infrastructure.yaml"
    outdir = 'tests/fixtures/banked_stage2'
    ref_data_root = System.getenv('NXF_REF_DATA_ROOT') ?: "${projectDir}/../assets/references"
    ref_dir = System.getenv('NXF_REF_DATA_ROOT') ?: "${projectDir}/../assets/references"
    tmp_dir = '/scratch/tmp'
    work_root = '/scratch/nextflow_work'
    refs = [
        reference_genome         : '/opt/reference/reference/GRCh38_full_analysis_set_plus_decoy_hla.fa',
        reference_fai            : '/opt/reference/reference/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai',
        reference_dict           : '/opt/reference/reference/GRCh38_full_analysis_set_plus_decoy_hla.dict',
        capture_wes_bed          : '/opt/reference/beds/OncoPanel_v4.2_Master_hs38DH.bed',
        onco_target_bed          : '/opt/reference/beds/OncoPanel_v4.2_Master_hs38DH.bed',
        sf_bed                   : '/opt/reference/beds/ACMG_SF_v3.2_hs38DH.bed',
        verifybamid2_svd_prefix  : '/opt/reference/verifybamid2/resource',
        verifybamid2_ud_path     : '/opt/reference/verifybamid2/resource.UD',
        verifybamid2_bed         : '/opt/reference/beds/OncoPanel_v4.2_Master_hs38DH.bed'
    ]
}

process {
    errorStrategy = 'finish'

    withLabel: 'process_low' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }

    withLabel: 'process_medium' {
        cpus = 4
        memory = 12.GB
        time = 6.h
    }
}

docker.enabled = false
apptainer.enabled = false

profiles {
    dev_fast {
        process {
            withLabel: 'process_low' {
                cpus = 1
                memory = 2.GB
                time = 1.h
            }
            withLabel: 'process_medium' {
                cpus = 2
                memory = 4.GB
                time = 2.h
            }
        }
    }

    docker {
        docker {
            enabled = true
            runOptions = "-v \"${params.ref_dir}:/opt/reference:ro\" -v \"${params.tmp_dir}:/tmp\" --rm"
        }
        workDir = params.work_root
        process {
            container = 'wes-onco-core:1.0.0'
        }
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }
        workDir = params.work_root
        process {
            container = 'file://containers/wes-onco-core.sif'
        }
    }
}
