params {
    samples = 'samplesheet.yaml'
    input = null
    references = 'references.yaml'
    thresholds = 'thresholds.yaml'
    outdir = 'tests/fixtures/banked_stage3'
    tmp_dir = '/scratch/tmp'
    work_root = '/scratch/nextflow_work'
}

process {
    errorStrategy = 'finish'

    withLabel: 'process_low' {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }

    withLabel: 'process_medium' {
        cpus = 4
        memory = 12.GB
        time = 6.h
    }
}

docker.enabled = false
apptainer.enabled = false

profiles {
    docker {
        docker {
            enabled = true
            runOptions = "-v \"${params.tmp_dir}:/tmp\" --rm"
        }
        workDir = params.work_root
        process {
            container = 'wes-onco-core:1.0.0'
        }
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }
        workDir = params.work_root
        process {
            container = 'file://containers/wes-onco-core.sif'
        }
    }
}
